@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 100%;
  font-family: Inter;
  font-size: 14px;
}

section {
  max-width: 1140px;
  min-width: 375px;
  padding: 60px 13px 60px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}
@media screen and (min-width: 1366px) {
  section {
    padding: 80px 70px 80px 71px;
    max-width: 1920px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 14px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
@media screen and (min-width: 1366px) {
  .header {
    padding: 0 70px;
    height: 94px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header img {
  max-height: 13px;
}

.header-desktop-list {
  display: none;
}
@media screen and (min-width: 1366px) {
  .header-desktop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-desktop-list .showreel {
  margin-right: 208px;
}
.header-desktop-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1D1D1D;
}
.header-desktop-list img {
  margin-right: 9px;
}
.header-desktop-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-desktop-list li {
  margin-right: 35px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu p {
  margin-right: 10px;
  line-height: 0.75;
}

.introduce {
  background-image: url("../img/Group284272671.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 200px;
}
@media screen and (min-width: 1366px) {
  .introduce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    background-image: url("../img/Group28427267.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 660px;
  }
}

.paragrah-introduce {
  margin-top: 100px;
}
@media screen and (min-width: 1366px) {
  .paragrah-introduce {
    width: 14.2%;
    margin-top: 0;
  }
}

.paragrah-introduce p {
  margin-right: 136px;
  font-size: 12px;
}
@media screen and (min-width: 1366px) {
  .paragrah-introduce p {
    margin-right: 0;
    font-size: 14px;
    line-height: 18.9px;
  }
}

@media screen and (min-width: 1366px) {
  .header-introduce {
    width: 49.5%;
  }
}

.header-introduce h1 {
  font-family: sans-serif;
  font-size: 27px;
  font-weight: bold;
  margin-top: 13px;
}
@media screen and (min-width: 1366px) {
  .header-introduce h1 {
    font-size: 40px;
    line-height: 46px;
    width: 85%;
    margin-top: 0;
  }
}

.button-client {
  background: #2e4adf;
  border: none;
  color: white;
  padding: 15px 39px;
  margin: 27px 0 70px 0;
}

.introduce-img {
  max-height: 200px;
  margin-bottom: 60px;
}

.logo_showreel {
  display: none;
}
@media screen and (min-width: 1366px) {
  .logo_showreel {
    display: block;
  }
}

.services-tariffs {
  display: none;
}
@media screen and (min-width: 1366px) {
  .services-tariffs {
    display: block;
    width: 26%;
  }
  .services-tariffs p {
    font-weight: 600;
    margin-top: 35px;
  }
}

@media screen and (min-width: 1366px) {
  .we-offer {
    width: 74%;
  }
}

@media screen and (min-width: 1366px) {
  .we-offer-context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1366px) {
  .services-context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services {
  border-top-style: solid;
  border-top-width: 2px;
}

.header-services {
  font-family: sans-serif;
  margin: 20px 0 10px 0;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
}
@media screen and (min-width: 1366px) {
  .header-services {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.services-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1366px) {
  .services-play {
    min-width: 285px;
    margin: 0 30px 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1366px) {
  .services-text-block {
    width: 420px;
  }
}

.services-play-img {
  max-height: 50px;
}

.sevices-play-inside {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-video {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  margin: 0 0 4px 0;
}

.dmitr-andr {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16.2px;
  font-weight: 400;
}

.services-text {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: -0.2px;
  max-width: 75%;
  margin: 0px;
}
@media screen and (min-width: 1366px) {
  .services-text {
    max-width: 100%;
    font-size: 16px;
    line-height: 21.6px;
  }
}

.arrow-right-left {
  display: none;
}
@media screen and (min-width: 1366px) {
  .arrow-right-left {
    display: block;
    margin: 35px 0 30px 0;
  }
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 27px 0 50px 0;
}

.details-img {
  max-height: 12px;
  margin-right: 9px;
  margin-top: 2px;
}

.details-text {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

.project {
  border-top-style: solid;
  border-top-width: 2px;
}

.header-project {
  font-family: sans-serif;
  margin: 20px 0 10px 0;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
}
@media screen and (min-width: 1366px) {
  .header-project {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin: 30px 0 70px 0;
  }
}

@media screen and (min-width: 1366px) {
  .project-text-block {
    margin-left: 315px;
    width: 35%;
  }
}

.project-text {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: -0.2px;
  margin: 0px;
}
@media screen and (min-width: 1366px) {
  .project-text {
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: -0.02em;
  }
}

.all-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 27px 0 50px 0;
}

.all-project-img {
  max-height: 12px;
  margin-right: 9px;
  margin-top: 2px;
}

.all-project-text {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

.scroll-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
}

.first-scroll-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2e4adf;
  color: white;
  padding: 20px;
  background-image: url("../img/Vector-hz-sho.png");
  background-repeat: no-repeat;
  background-position: 95% 5%;
  margin-right: 35px;
  min-width: 285px;
}
@media screen and (min-width: 1366px) {
  .first-scroll-box {
    height: 175px;
    background-position: 90% 20%;
  }
}

@media screen and (min-width: 1366px) {
  .first-scroll-box:hover {
    height: 550px;
  }
}

.scroll-box-context {
  margin-bottom: 100px;
}

.scroll-box-context h3 {
  font-size: 18px;
  line-height: 20.3px;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 35px;
  max-width: 60%;
}
@media screen and (min-width: 1366px) {
  .scroll-box-context h3 {
    margin-top: 71px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 22px;
    width: 120px;
  }
}

.scroll-box-text {
  font-size: 14px;
  line-height: 21.7px;
  font-weight: 500;
}
.number-scroll-box {
  margin-top: 0px;
}

.to-service {
  border-top-style: solid;
  border-top-width: 2px;
  padding-top: 20px;
}

.to-service a {
  color: white;
  text-decoration: none;
}

.years {
  display: none;
}
@media screen and (min-width: 1366px) {
  .years {
    display: block;
    width: 25.7%;
  }
  .years p {
    margin-top: 35px;
    font-weight: 600;
  }
}

.all-project-list {
  overflow: hidden;
  margin-bottom: 20px;
}
.all-project-list .all-project {
  display: none;
}
@media screen and (min-width: 1366px) {
  .all-project-list {
    width: 25.7%;
  }
  .all-project-list .all-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1366px) {
  .project-first-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1366px) {
  .project-second-block {
    width: 74.3%;
  }
}

@media screen and (min-width: 1366px) {
  .project-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.ul-all-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  white-space: nowrap;
  padding-left: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
@media screen and (min-width: 1366px) {
  .ul-all-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ul-all-project li {
  margin: 0 25px 0 0;
}
@media screen and (min-width: 1366px) {
  .ul-all-project li {
    margin-bottom: 15px;
    opacity: 0.5;
    font-weight: 500;
    position: relative;
  }
}

@media screen and (min-width: 1366px) {
  .ul-all-project li:hover {
    color: #2E4ADF;
    opacity: 1;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1366px) {
  .ul-all-project li:hover::before {
    position: absolute;
    content: url(/img/blue-arrow-right.png);
    margin-left: -15px;
  }
}

@media screen and (min-width: 1366px) {
  .product-block {
    width: 74.3%;
  }
}

.product-img1 {
  background-image: url(../img/Rectangle4.png);
  background-repeat: no-repeat;
  padding-top: 235px;
  background-position-y: 35px;
}
@media screen and (min-width: 1366px) {
  .product-img1 {
    background-image: url(../img/Rectangle_desktop1.png);
    background-position-x: 100%;
  }
}

.product-img2 {
  background-image: url(../img/Rectangle4-4.png);
  background-repeat: no-repeat;
  padding-top: 235px;
  background-position-y: 35px;
}
@media screen and (min-width: 1366px) {
  .product-img2 {
    background-image: url(../img/Rectangle_desktop2.png);
    background-position-x: 100%;
  }
}

.product-img3 {
  background-image: url(../img/Rectangle41.png);
  background-repeat: no-repeat;
  padding-top: 235px;
  background-position-y: 35px;
}
@media screen and (min-width: 1366px) {
  .product-img3 {
    background-image: url(../img/Rectangle_desktop3.png);
    background-position-x: 100%;
  }
}

.product-img4 {
  background-image: url(../img/Rectangle42.png);
  background-repeat: no-repeat;
  padding-top: 235px;
  background-position-y: 35px;
}
@media screen and (min-width: 1366px) {
  .product-img4 {
    background-image: url(../img/Rectangle_desktop4.png);
    background-position-x: 100%;
  }
}

.product-img5 {
  background-image: url(../img/Rectangle43.png);
  background-repeat: no-repeat;
  padding-top: 235px;
  background-position-y: 35px;
}
@media screen and (min-width: 1366px) {
  .product-img5 {
    background-image: url(../img/Rectangle_desktop5.png);
    background-position-x: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .product-context {
    width: 22.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0;
  }
}

.product {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1366px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
    height: 387px;
  }
}

.watch-project {
  display: none;
}
@media screen and (min-width: 1366px) {
  .watch-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .watch-project a {
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 500;
  }
  .watch-project img {
    height: 9px;
    margin: 3.5px 0 0 10px;
  }
}

.product h3 {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 20.7px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.product p {
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
  color: #1d1d1d;
  opacity: 50%;
  margin-bottom: 35px;
}
@media screen and (min-width: 1366px) {
  .product p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    letter-spacing: -0.02em;
  }
}

.button-download {
  background-color: #1d1d1d;
  color: whitesmoke;
  width: 348px;
  height: 70px;
}
@media screen and (min-width: 1366px) {
  .button-download {
    background-color: #F5F5F5;
    color: #1D1D1D;
    background-image: url(../img/black-arrow-down.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: 45%;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(29, 29, 29, 0.3);
  }
  .button-download img {
    display: none;
  }
}

.button-download p {
  display: inline;
}

.achievements {
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 20px;
}
@media screen and (min-width: 1366px) {
  .achievements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1366px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1366px) {
  .achievements-main-block {
    width: 74.3%;
  }
}

.indicators {
  display: none;
}
@media screen and (min-width: 1366px) {
  .indicators {
    display: block;
    width: 25.7%;
  }
  .indicators p {
    margin-top: 35px;
    font-weight: 600;
  }
}

.achievements h2 {
  font-weight: bold;
  font-size: 22px;
  font-family: sans-serif;
}
@media screen and (min-width: 1366px) {
  .achievements h2 {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin: 30px 0 70px 0;
  }
}

.achievements-description {
  font-size: 14px;
  line-height: 19px;
  margin: 20px 0 15px 0;
}
@media screen and (min-width: 1366px) {
  .achievements-description {
    margin-left: 315px;
    width: 35%;
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    margin-bottom: 100px;
  }
}

.achievements4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
}
@media screen and (min-width: 1366px) {
  .achievements4 {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 100%;
  }
}

.achievements-block {
  max-width: 44%;
  margin: 30px 20px 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 1366px) {
  .achievements-block {
    margin: 50px 0px 30px 20px;
    width: 190px;
  }
}

.achievements-block h3 {
  color: #2e4adf;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0 0 9px 0;
}
@media screen and (min-width: 1366px) {
  .achievements-block h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
  }
}

.achievements-block p {
  font-size: 12px;
  line-height: 15px;
  opacity: 70%;
}
@media screen and (min-width: 1366px) {
  .achievements-block p {
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
  }
}

.achievements-imgs {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.achievements-imgs-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 1366px) {
  .achievements-imgs-mobile {
    display: none;
  }
}

.achievements-imgs-desktop {
  display: none;
}
@media screen and (min-width: 1366px) {
  .achievements-imgs-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.achievements-img-block {
  width: 136.26px;
  height: 74px;
  position: relative;
}
@media screen and (min-width: 1366px) {
  .achievements-img-block {
    margin-right: 35px;
    opacity: 0.5;
    width: 175px;
    height: 95px;
  }
}

.block-line {
  display: none;
}
@media screen and (min-width: 1366px) {
  .block-line {
    display: inline;
  }
}

.line1 {
  position: absolute;
}

.line2 {
  margin-right: 210px;
}

.achievements-img-block img {
  max-width: 101px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tariffs {
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 20px;
}
@media screen and (min-width: 1366px) {
  .tariffs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.width-257 p {
  display: none;
}
@media screen and (min-width: 1366px) {
  .width-257 {
    width: 25.7%;
  }
  .width-257 p {
    display: block;
    font-size: 14px;
    line-height: 16.1px;
    font-weight: 600;
    margin: 15px 0 125px 0;
  }
  .width-257 .all-project-list {
    width: 100%;
  }
  .width-257 h2 {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .width-743 {
    width: 74.3%;
  }
}

.width-743 h2 {
  display: none;
}
@media screen and (min-width: 1366px) {
  .width-743 h2 {
    display: block;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
  }
}

.tariffs h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: 60px;
}
@media screen and (min-width: 1366px) {
  .tariffs h2 {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 100px;
  }
}

.ul-all-project li:hover {
  color: #2e4adf;
}

.complex-service {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.2);
  padding: 40px 0 5px 0;
}

.complex-service-header h3 {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: #2e4adf;
  text-transform: uppercase;
  max-width: 60%;
}
@media screen and (min-width: 1366px) {
  .complex-service-header h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    display: block;
    width: 280px;
    height: 291px;
    background-color: #2E4ADF;
    color: #F5F5F5;
    max-width: 100%;
    text-transform: none;
    padding: 25px 60px 0 25px;
  }
}

.complex-service-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1366px) {
  .complex-service-header {
    width: 315px;
  }
}

.complex-service-header img {
  height: 17px;
  margin-top: 25px;
}
@media screen and (min-width: 1366px) {
  .complex-service-header img {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .complex-service-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.tariffs-context p {
  font-size: 13.5px;
  line-height: 19px;
}
@media screen and (min-width: 1366px) {
  .tariffs-context p {
    width: 385px;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: -0.02em;
  }
}

.tariffs-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
  /* justify-content: space-between; */
}

.tariffs-img img:first-child {
  margin-right: 25px;
}

.audio-text {
  display: none;
}
@media screen and (min-width: 1366px) {
  .audio-text {
    display: block;
    width: 91px;
    height: 32px;
  }
}

.audio-text p {
  width: 91px;
  height: 32px;
  font-size: 12px;
  line-height: 135%;
  opacity: 0.5;
  margin: 8px 0 0 30px;
}

.tariffs-context {
  margin-bottom: 65px;
}
@media screen and (min-width: 1366px) {
  .tariffs-context {
    width: 65%;
    margin-bottom: 0;
  }
}

.money {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.2);
  padding-top: 21px;
}
@media screen and (min-width: 1366px) {
  .money {
    border-top: none;
  }
}

.money h3 {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  max-width: 15%;
  margin-bottom: 25px;
}
@media screen and (min-width: 1366px) {
  .money h3 {
    width: 182px;
    font-weight: 500;
    font-size: 15px;
    line-height: 112.8%;
    color: #000000;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .money form {
    width: 280px;
    margin-right: 35px;
    height: 150px;
  }
}

@media screen and (min-width: 1366px) {
  .money button {
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
}

.basic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d1d1d;
  border: none;
  color: white;
  height: 52px;
  margin-bottom: 15px;
  padding: 1px 15px;
}

.text-button {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 700;
  margin-top: 16px;
}
@media screen and (min-width: 1366px) {
  .text-button {
    margin: 0;
  }
}

.price-button {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 20.7px;
  font-weight: 700;
  margin: auto 10px auto 0px;
}
@media screen and (min-width: 1366px) {
  .price-button {
    margin: 0;
  }
}

.mounth {
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
  color: rgba(245, 245, 245, 0.5);
}

.price-mounth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2e4adf;
  border: none;
  color: white;
  height: 52px;
  margin-bottom: 15px;
  padding: 1px 15px;
}

.enterprise {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(238, 238, 238, 0.9);
  border: none;
  color: #1d1d1d;
  height: 52px;
  margin-bottom: 15px;
  padding: 1px 15px;
}

.mounth-black {
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
  color: #1d1d1d;
}

.rectangle {
  background-image: url(../img/Rectangle4572.png);
  background-repeat: no-repeat;
  padding-top: 113px;
  padding-bottom: 112px;
  background-size: 100%;
}
@media screen and (min-width: 1366px) {
  .rectangle {
    padding: 235px 70px 234px 71px;
  }
}

.questions {
  background-color: #151515;
  padding: 105px 20px;
}
@media screen and (min-width: 1366px) {
  .questions {
    padding: 80px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(21, 21, 21, 0.8);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 5px;
  }
}

@media screen and (min-width: 1366px) {
  .question-write {
    width: 56%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .question-write img {
    height: 29px;
    width: 157px;
  }
}

@media screen and (min-width: 1366px) {
  .question-send {
    width: 44%;
  }
}

.questions h2 {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;
  color: #898989;
  margin: 15px 0 40px 0;
}
@media screen and (min-width: 1366px) {
  .questions h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 110%;
    margin: 0;
    width: 60%;
  }
}

.questions h2 span {
  color: white;
}

.question-text {
  color: #F6F6F6;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 16px;
  opacity: 50%;
  margin: 0;
}
@media screen and (min-width: 1366px) {
  .question-text {
    width: 185px;
    height: 48px;
    font-family: Plain;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 0 35px;
    color: #F7F7F7;
  }
}

.question-text-last {
  width: 180px;
  height: 48px;
  font-family: Plain;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin: 10px 0 0 30px;
  color: #F7F7F7;
  opacity: 0.5;
}

.button-question {
  width: 190px;
  height: 45px;
  font-size: 14px;
  color: #1D1D1D;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1366px) {
  .button-question {
    width: 270px;
  }
}

.input-question {
  background-color: rgba(245, 245, 245, 0.05);
  border: none;
  height: 55px;
  margin-bottom: 18px;
}

@media screen and (min-width: 1366px) {
  .send-application {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #F7F7F7;
  opacity: 0.5;
  text-decoration: underline;
}
@media screen and (min-width: 1366px) {
  .politic {
    opacity: 1;
  }
}

.reviews {
  border-top-style: solid;
  border-top-width: 1px;
}
@media screen and (min-width: 1366px) {
  .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url(../img/iphoneX.png);
    background-repeat: no-repeat;
    background-position: 0 176px;
  }
}

.reviews-small {
  display: none;
}
@media screen and (min-width: 1366px) {
  .reviews-small {
    display: block;
    width: 25.7%;
  }
  .reviews-small p {
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
    margin-top: 35px;
  }
}

@media screen and (min-width: 1366px) {
  .reviews-main-block {
    width: 74.3%;
  }
}

.reviews h2 {
  font-family: sans-serif;
  font-size: 22px;
  line-height: 115%;
  text-transform: uppercase;
  color: #1D1D1D;
  margin: 20px 0 70px 0;
}
@media screen and (min-width: 1366px) {
  .reviews h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
    margin: 30px 0 81px 0;
  }
}

@media screen and (min-width: 1366px) {
  .reviews-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 105px 0 315px;
  }
}

.IF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1366px) {
  .IF {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-top: 100px;
  }
}

.IF img {
  height: 17px;
  margin-top: 27px;
}
@media screen and (min-width: 1366px) {
  .IF img {
    margin-left: 44px;
  }
}

.blue-circle {
  background-color: #2E4ADF;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.blue-circle p {
  color: white;
}

.if-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.if-text p:first-child {
  font-size: 12px;
  line-height: 135%;
  color: #1D1D1D;
  opacity: 0.7;
}

.text-name-sername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.if-text p:last-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #1D1D1D;
}

.if-text p {
  margin: 2px;
}

.reviews-text {
  display: block;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #1D1D1D;
  margin: 30px 0 27px 0;
}
@media screen and (min-width: 1366px) {
  .reviews-text {
    width: 490px;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .thanks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 126px;
  }
}

.thanks p {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  color: #1D1D1D;
  margin: 10px;
}
@media screen and (min-width: 1366px) {
  .thanks p {
    margin-right: 67px;
  }
}

.thanks img {
  height: 12px;
  margin-right: 5px;
}

.arrow-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-img {
  margin-top: 25px;
}
@media screen and (min-width: 1366px) {
  .phone-img {
    display: none;
  }
}

.team {
  border-top-style: solid;
  border-top-width: 1px;
}

@media screen and (min-width: 1366px) {
  .team-main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.employees {
  display: none;
}
@media screen and (min-width: 1366px) {
  .employees {
    display: block;
    width: 25.7%;
  }
  .employees p {
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
  }
}

.team h2 {
  font-family: sans-serif;
  font-size: 22px;
  line-height: 115%;
  text-transform: uppercase;
  color: #1D1D1D;
  margin: 20px 0 40px 0;
}
@media screen and (min-width: 1366px) {
  .team h2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
    margin-bottom: 100px;
  }
}

.team > p {
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 1366px) {
  .team-header > p {
    width: 385px;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin: 0 0 60px 315px;
  }
}

.team-employee p:first-child {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 110%;
  margin: 0 0 2px 0;
}

.team-employee p:last-child {
  font-size: 13px;
  line-height: 135%;
  letter-spacing: -0.02em;
  margin: 0;
  opacity: 0.5;
}

.blog {
  border-top-style: solid;
  border-top-width: 1px;
}

@media screen and (min-width: 1366px) {
  .blog-header-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.articles {
  display: none;
}
@media screen and (min-width: 1366px) {
  .articles {
    display: block;
    width: 25.7%;
  }
  .articles p {
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
  }
}

.header-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 50px 0;
}
@media screen and (min-width: 1366px) {
  .header-blog {
    width: 74.3%;
  }
}

.arrow-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1366px) {
  .arrow-blog {
    margin-top: 35px;
  }
}

.arrow-blog p {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  color: #1D1D1D;
  margin: 10px;
}

.header-blog h2 {
  font-family: sans-serif;
  font-size: 22px;
  line-height: 115%;
  text-transform: uppercase;
  color: #1D1D1D;
}
@media screen and (min-width: 1366px) {
  .header-blog h2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
  }
}

@media screen and (min-width: 1366px) {
  .blog-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1366px) {
  .blog-block-mobile {
    display: none;
  }
}

.blog-block-desktop {
  display: none;
}
@media screen and (min-width: 1366px) {
  .blog-block-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-block-desktop > div {
    width: 22.85%;
  }
}

.blog-block {
  margin: 20px 0 0 0;
}
@media screen and (min-width: 1366px) {
  .blog-block img {
    width: 100%;
  }
}

.blog-text-opacity {
  margin: 20px 0 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #1D1D1D;
  opacity: 0.4;
}

.blog-text {
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #1D1D1D;
  margin: 0;
}

.section0 {
  padding: 0;
}
@media screen and (min-width: 1366px) {
  .section0 {
    background-color: #1D1D1D;
  }
}

@media screen and (min-width: 1366px) {
  .last-block {
    display: none;
  }
}

.last-block-desktop {
  display: none;
}
@media screen and (min-width: 1366px) {
  .last-block-desktop {
    display: block;
  }
}

.last-main-block {
  padding: 40px 70px 0 71px;
}

.header-last-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.last-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 51.51%;
}
.last-logo img {
  height: 25px;
}

.last-showreel {
  margin-left: 184px;
}
.last-showreel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #F5F5F5;
  margin-top: 5.5px;
}
.last-showreel a img {
  height: 12px;
}

.last-menu-desktop {
  width: 48.49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F5F5F5;
}
.last-menu-desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.last-menu-desktop ul li {
  margin-right: 35px;
}
.last-menu-desktop img {
  height: 12px;
}

.last-context-dektop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 191px;
  padding-bottom: 130px;
}

.discuss {
  width: 51.51%;
}

.submit-your-application {
  width: 48.49%;
}
.submit-your-application > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.width490 {
  width: 490px;
  height: 55px;
  padding-left: 21px;
}

.text-white {
  color: white;
}

.black-background {
  background-color: #1D1D1D;
  padding: 0;
}

.margin-black {
  margin: 0 13px 0 14px;
}

.header-padding {
  padding: 20px 0 65px 0;
  border-bottom: none;
}

.black-background-h3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 115%;
  text-transform: uppercase;
  color: #898989;
  margin: 15px 0 40px 0;
}
@media screen and (min-width: 1366px) {
  .black-background-h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
    margin-top: 0;
    margin-bottom: 31px;
  }
}

.input-project {
  background-color: rgba(245, 245, 245, 0.05);
  border: none;
  width: 348px;
  height: 120px;
  margin-bottom: 18px;
  padding-bottom: 70px;
}
@media screen and (min-width: 1366px) {
  .input-project {
    width: 490px;
    height: 154px;
    margin-bottom: 30px;
    padding-bottom: 100px;
  }
}

.input-project::-webkit-input-placeholder {
  margin-top: 0px;
}

.input-project::-moz-placeholder {
  margin-top: 0px;
}

.input-project:-ms-input-placeholder {
  margin-top: 0px;
}

.input-project::-ms-input-placeholder {
  margin-top: 0px;
}

.input-project::placeholder {
  margin-top: 0px;
}

.width348 {
  width: 348px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}
@media screen and (min-width: 1366px) {
  .width348 {
    width: 385px;
  }
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px 0 90px 0;
}
@media screen and (min-width: 1366px) {
  .download {
    margin: 32px 0 131px 0;
  }
}

.download img {
  height: 20px;
  margin-right: 5px;
}

.download p {
  color: white;
  text-decoration: underline;
}

.contacts {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(245, 245, 245, 0.1);
  color: #F5F5F5;
}

.piter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}
@media screen and (min-width: 1366px) {
  .piter {
    color: #F5F5F5;
  }
}

.piter img {
  height: 20px;
}

.piter p {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -0.04em;
  margin: 45px 70px 30px 15px;
}
@media screen and (min-width: 1366px) {
  .piter p {
    width: 35%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contact-text a {
  font-size: 16px;
  line-height: 100%;
  text-transform: lowercase;
  margin-top: 6px;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
}

.contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1366px) {
  .contact-text {
    margin-top: 30px;
  }
}

.no-footer {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(245, 245, 245, 0.1);
}

.icon {
  margin: 35px 0 60px 0;
}
@media screen and (min-width: 1366px) {
  .icon {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.icon img {
  height: 44px;
  margin-right: 15px;
}

.class {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(245, 245, 245, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1366px) {
  .class {
    width: 51.51%;
    border-top: none;
  }
}

.class p {
  font-size: 12px;
  line-height: 15px;
  color: #F7F7F7;
  opacity: 0.5;
}
@media screen and (min-width: 1366px) {
  .class p {
    padding-top: 15px;
  }
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-img .politic {
  font-size: 12px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F7F7F7;
  opacity: 0.5;
  margin-right: 128px;
  margin-top: 15px;
}

.creative-director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
  overflow: hidden;
  overflow-x: auto;
}

.photo-director {
  margin-right: 35px;
}

.photo-director img {
  margin-bottom: 20px;
}

.h3-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h3-arrow img {
  height: 9px;
}
@media screen and (min-width: 1366px) {
  .h3-arrow img {
    display: none;
  }
}

.scroll-box .first-scroll-box:nth-child(2) {
  background-color: #9E00FF;
}

.scroll-box .first-scroll-box:nth-child(3) {
  background-color: #01978C;
}

.scroll-box .first-scroll-box:nth-child(4) {
  background-color: #EDA335;
}
<<<<<<< HEAD

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-name: show-header;
          animation-name: show-header;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 14px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 100%;
}
@media screen and (min-width: 1366px) {
  .header-fixed {
    padding: 0 70px;
    height: 94px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@-webkit-keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
=======
>>>>>>> aab9d9119d0f2ed468587b747674b83b1fc8fc15
