// Файл обнуляющих стилей
@import "nullstyle.scss";
// Переменные
@import "variables.scss";


body {
    width: auto;
    font-family: Inter; 
    font-size: 14px;
    height: auto;
}

section{
    max-width: 1140px;
    min-width: 375px;
    padding: 60px 13px 60px 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
    @media screen and (min-width: $desktop-width) {
        padding: 80px 70px 80px 71px;
        max-width: 1920px;
    }
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 14px;
    border-bottom-style: solid;
    border-bottom-width: 2px;

	@media screen and (min-width: $desktop-width) {
        padding: 0 70px;
        height: 94px;
        align-items: center;
    }
}

.header img {
    max-height: 13px;
    @media screen and (min-width: $desktop-width) {
        max-height: 21px;
    }
}

.header-desktop-list {
    display: none;
	@media screen and (min-width: $desktop-width) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.showreel {margin-right: 208px;}
		a {
			display: flex;
			color: $color_1;
		}
		img {
			margin-right: 9px;
		}
	ul {display: flex;}
		li {margin-right: 35px;}
	
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu p {
    margin-right: 10px;
    line-height: 0.75;
    color: $color_1;
}

.header-menu {
    position: relative;
}

.introduce {


    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
    }
}

.introduce-context {
    @media screen and (min-width: $desktop-width) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

.paragrah-introduce {
    margin-top: 100px;
    @media screen and (min-width: $desktop-width) {
        width: 14.2%;
        margin-top: 0;
    }
}

.paragrah-introduce  p{
    margin-right: 136px;
    font-size: 12px;
    @media screen and (min-width: $desktop-width) {
        margin-right: 0;
        font-size: 14px;
        line-height: 18.9px;
    }
}

.header-introduce {
    @media screen and (min-width: $desktop-width) {
        width: 49.5%;
    }
}

.header-introduce h1 {
    font-family: sans-serif;
    font-size: 27px;
    font-weight: bold;
    margin-top: 13px;
    @media screen and (min-width: $desktop-width) {
        font-size: 40px;
        line-height: 46px;
        width: 85%;
        margin-top: 0;
    }
}

.button-client {
    background: rgba(46, 74, 223, 1);
    border: none;
    color: white;
    padding: 15px 39px;
    margin: 27px 0 70px 0;
}

.introduce-img {
    max-height: 200px;
    margin-bottom: 60px;
}

.logo_showreel {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
    }
}

.services-tariffs {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 26%;
            p {
                font-weight: 600; 
                margin-top: 35px;
            }
    }
}

.we-offer {
    @media screen and (min-width: $desktop-width) { 
        width: 74%;
    }
}

.we-offer-context {
    @media screen and (min-width: $desktop-width) { 
        display: flex;
        flex-direction: row;
    }
}

.services-context {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.services {
    border-top-style: solid;
    border-top-width: 2px;
}

.header-services{
    font-family: sans-serif;
    margin: 20px 0 10px 0;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    @media screen and (min-width: $desktop-width) { 
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}

.services-play{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 36px;
    @media screen and (min-width: $desktop-width)  {
        min-width: 285px;
        margin:0 30px 0 0 ;
        align-items: flex-start;
    }
}

.services-text-block {
    @media screen and (min-width: $desktop-width) {
        width: 420px;
    }
}

.services-play-img {
    max-height: 50px;
}

.sevices-play-inside {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-video {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 600;
    margin: 0 0 4px 0;
}

.dmitr-andr{
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16.2px;
    font-weight: 400;    
}

.services-text {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: -0.2px;
    max-width: 75%;
    margin: 0px;
    @media screen and (min-width: $desktop-width) {
        max-width: 100%;
        font-size: 16px;
        line-height: 21.6px;
    }
}

.arrow-right-left {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        margin: 35px 0 30px 0;
    }
}

.details {
    display: flex;
    flex-direction: row;
    margin: 27px 0 50px 0;
}

.details-img {
    max-height: 12px;
    margin-right: 9px;
    margin-top: 2px;
}

.details-text {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
}
.project {
    border-top-style: solid;
    border-top-width: 2px;
}

.header-project {
    font-family: sans-serif;
    margin: 20px 0 10px 0;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    @media screen and (min-width: $desktop-width) {
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        margin: 30px 0 70px 0;
    }
}

.project-text-block {
    @media screen and (min-width: $desktop-width) {
        margin-left: 315px;
        width: 35%;
    }
}

.project-text {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: -0.2px;
    margin: 0px; 
    @media screen and (min-width: $desktop-width) {
        font-size: 16px;
        line-height: 21.6px;
        letter-spacing: -0.02em;
    }
}

.all-project {
    display: flex;
    flex-direction: row;
    margin: 27px 0 50px 0;
}

.all-project-img {
    max-height: 12px;
    margin-right: 9px;
    margin-top: 2px;
}

.all-project-text {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
}

.scroll-box {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
}

.first-scroll-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(46, 74, 223, 1);
    color: white;
    padding: 20px;
    background-image: url('../img/Vector-hz-sho.png');
    background-repeat: no-repeat;  
    background-position: 95% 5%;
    margin-right: 35px;
    min-width: 285px;
    @media screen and (min-width: $desktop-width) {
        height: 175px;
        background-position: 90% 20%;
    }
}

.first-scroll-box:hover {
    @media screen and (min-width: $desktop-width) {
        height: 550px;
    }
    
}

.scroll-box-context {
    margin-bottom: 100px;
}

.scroll-box-context h3 {
    font-size: 18px;
    line-height: 20.3px;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 35px;
    max-width: 60%;
    @media screen and (min-width: $desktop-width) {
        margin-top: 71px;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 22px;
        width: 120px;
    }
}

.scroll-box-text {
    font-size: 14px;
    line-height: 21.7px;
    font-weight: 500;
    @media screen and (min-width: $desktop-width) {
        // display: none;
    }
}

.number-scroll-box {
    margin-top: 0px;
}

.to-service {
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 20px;
}

.to-service a {
    color: white;
    text-decoration: none;
}

.years {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 25.7%;
        p {
            margin-top: 35px;
            font-weight: 600;
        }
    }
}

.all-project-list {
    overflow: hidden;
    margin-bottom: 20px;
    .all-project {
        display: none;
    }
    @media screen and (min-width: $desktop-width) {
        width: 25.7%;
        .all-project {
            display: flex;
        }
    }
}

.project-first-block {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.project-second-block {
    @media screen and (min-width: $desktop-width) {
        width: 74.3%;
    }
}

.project-block {
    @media screen and (min-width: $desktop-width) { 
        display: flex;
        flex-direction: row;
    }
}

.ul-all-project {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    @media screen and (min-width: $desktop-width) { 
        display: flex;
        flex-direction: column;   
    }
}

.ul-all-project li {
    margin: 0 25px 0 0;
    @media screen and (min-width: $desktop-width) {
        margin-bottom: 15px;
        opacity: 0.5;
        font-weight: 500;
        position: relative;
    }
}

.ul-all-project li:hover {
    @media screen and (min-width: $desktop-width) {
        color: $color_3;
        opacity: 1;
        margin-left: 15px;
    }
}

.ul-all-project li:hover::before {
    @media screen and (min-width: $desktop-width) {
        position: absolute;
        content: url(/img/blue-arrow-right.png);
        margin-left: -15px;
    }
}

.product-block{
    @media screen and (min-width: $desktop-width) {
        width: 74.3%;
    }
}

.product-img1{
    background-image: url(../img/Rectangle4.png);
    background-repeat: no-repeat;
    padding-top: 235px;
    background-position-y: 35px;
    @media screen and (min-width: $desktop-width) {
        background-image: url(../img/Rectangle_desktop1.png);
        background-position-x: 100%;
    }
}

.product-img2{
    background-image: url(../img/Rectangle4-4.png);
    background-repeat: no-repeat;
    padding-top: 235px;
    background-position-y: 35px;
    @media screen and (min-width: $desktop-width) {
        background-image: url(../img/Rectangle_desktop2.png);
        background-position-x: 100%;
    }
}

.product-img3{
    background-image: url(../img/Rectangle41.png);
    background-repeat: no-repeat;
    padding-top: 235px;
    background-position-y: 35px;
    @media screen and (min-width: $desktop-width) {
        background-image: url(../img/Rectangle_desktop3.png);
        background-position-x: 100%;
    }
}

.product-img4{
    background-image: url(../img/Rectangle42.png);
    background-repeat: no-repeat;
    padding-top: 235px;
    background-position-y: 35px;
    @media screen and (min-width: $desktop-width) {
        background-image: url(../img/Rectangle_desktop4.png);
        background-position-x: 100%;
    }
}

.product-img5{
    background-image: url(../img/Rectangle43.png);
    background-repeat: no-repeat;
    padding-top: 235px;
    background-position-y: 35px;
    @media screen and (min-width: $desktop-width) {
        background-image: url(../img/Rectangle_desktop5.png);
        background-position-x: 100%;
    }
}

.product-context {
    @media screen and (min-width: $desktop-width) {
        width: 22.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 0;
    }
}

.product {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        height: 387px;
    }
}

.watch-project{
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        a {
            color: $color_1;
            font-size: 16px;
            font-weight: 500;
        }
        img {
            height: 9px;
            margin: 3.5px 0 0 10px;
        }
    }
}


.product h3 {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 20.7px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.product p {
    font-size: 14px;
    line-height: 18.9px;
    font-weight: 400;
    color: rgba(29, 29, 29, 1);
    opacity: 50%;
    margin-bottom: 35px;
    @media screen and (min-width: $desktop-width) {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 21.6px;
        letter-spacing: -0.02em;
    }
}

.button-download {
    background-color: rgba(29, 29, 29, 1);
    color: rgba(245, 245, 245, 1) ;
    width: 348px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin-left: 13px;
    }
    @media screen and (min-width: $desktop-width) {
        width: 100%;
        background-color: $color_4;
        color: $color_1;
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: rgba(29, 29, 29, 0.3);
    }
}

.button-download p {
    display: inline;
}

.achievements {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px;
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
    }
}

.row{
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.achievements-main-block {
    @media screen and (min-width: $desktop-width) {
        width: 74.3%;
    }
}

.indicators {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 25.7%;
        p {
            margin-top: 35px;
            font-weight: 600;
        }
    }
}

.achievements h2 {
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
    @media screen and (min-width: $desktop-width) {
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        margin: 30px 0 70px 0;
    }
}

.achievements-description {
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0 15px 0;
    @media screen and (min-width: $desktop-width) {
        margin-left: 315px;
        width: 35%;
        font-size: 16px;
        line-height: 21.6px;
        letter-spacing: -0.02em;    
        margin-bottom: 100px;
    }
}

.achievements4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    @media screen and (min-width: $desktop-width)  {
        flex-wrap: nowrap;
        max-width: 100%;
    }
}

.achievements-block {
    max-width: 44%;
    margin: 30px 20px 30px 0;
    box-sizing: border-box;
    @media screen and (min-width: $desktop-width) {
        position: relative;
        padding: 70px 0px 30px 20px;
        width: 17%;
        border-top-style: solid;
        border-top-width: 1px;
        margin: 0;
    }
    
}

.achievements-block::before {
    @media screen and (min-width: $desktop-width) {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        border-left:1px solid;;
        height: 10%;
    }   
}

.achievements-block h3 {
    color: rgba(46, 74, 223, 1);
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 0 9px 0;
    @media screen and (min-width: $desktop-width) {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
    }
}

.achievements-block p {
    font-size: 12px;
    line-height: 15px;
    opacity: 70%;
    @media screen and (min-width: $desktop-width) {
        font-size: 14px;
        line-height: 17.5px;
        font-weight: 400;
    }
}

.achievements-imgs {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.achievements-imgs-mobile {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

.achievements-imgs-desktop {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.achievements-img-block {
    width: 136.26px;
    height: 74px;
    position: relative;
    @media screen and (min-width: $desktop-width) {
        margin-right: 35px;
        opacity: 0.5;
        width: 175px;
        height: 95px;
    }
}

.block-line {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: inline;
    }
}

.line1 {
    position: absolute;
}

.line2 {
    margin-right: 210px;    
}

.achievements-img-block img {
    max-width: 101px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.tariffs {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px;
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.width-257 {
    p {display: none;}
    @media screen and (min-width: $desktop-width) {
        width: 25.7%;
        p {
            display: block;
            font-size: 14px;
            line-height: 16.1px;
            font-weight: 600;
            margin: 15px 0 125px 0;
        }
        .all-project-list {
            width: 100%;
        }
        h2 {display: none;}
    }
}

.width-743 {
    @media screen and (min-width: $desktop-width) {
        width: 74.3%;
    }
}

.width-743 h2 {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
    }
}

.tariffs h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 60px;
    @media screen and (min-width: $desktop-width) {
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 100px;
    }
}

.ul-all-project li:hover{
    color: rgba(46, 74, 223, 1);
}

.complex-service {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    padding: 40px 0 5px 0;
}

.complex-service-header h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    color: rgba(46, 74, 223, 1);
    text-transform: uppercase;
    max-width: 60%;
    @media screen and (min-width: $desktop-width) {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        display: block;
        width: 280px;
        height: 291px;
        background-color: $color_3;
        color: $color_4;
        max-width: 100%;
        text-transform: none;
        padding: 25px 60px 0 25px;
    }
}

.complex-service-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (min-width: $desktop-width) {
        width: 315px;
    }
}

.complex-service-header img {
    height: 17px;
    margin-top: 25px;
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

.complex-service-main {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.tariffs-context p{
    font-size: 13.5px;
    line-height: 19px;
    @media screen and (min-width: $desktop-width) {
        width: 385px;
        margin-bottom: 65px;
        font-size: 16px;
        line-height: 135%;
        letter-spacing: -0.02em;
    }
}

.tariffs-img {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    /* justify-content: space-between; */
}

.tariffs-img img:first-child {
    margin-right: 25px;
}

.audio-text {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 91px;
        height: 32px;
    }
}

.audio-text p {
    width: 91px;
    height: 32px;
    font-size: 12px;
    line-height: 135%;
    opacity: 0.5;
    margin: 8px 0 0 30px;
}

.tariffs-context {
    margin-bottom: 65px;
    @media screen and (min-width: $desktop-width) {
        width: 65%;
        margin-bottom: 0;
    }
}

.money {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    padding-top: 21px;
    @media screen and (min-width: $desktop-width) {
        border-top: none;
    }
}

.money h3 {
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 600;
    max-width: 15%;
    margin-bottom: 25px;
    @media screen and (min-width: $desktop-width) {
        width: 182px;
        font-weight: 500;
        font-size: 15px;
        line-height: 112.8%;
        color: #000000;
        margin-bottom: 20px;
    }
}

.money button {
    @media screen and (min-width: $desktop-width) {
        width: 280px;
        margin-right: 35px;
        height: 150px;
    }
}

.row-price div {
    @media screen and (min-width: $desktop-width) {
        height: 150px;
        flex-direction: column;
        padding: 15px;
        padding-right: 35px;
        p {
            text-align: start;
        }
    }
}

.basic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(29, 29, 29, 1);
    border: none;
    color: white;
    height: 52px;
    margin-bottom: 15px;
    padding: 1px 15px;
}

.text-button {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 700;
    margin-top: 16px;
    @media screen and (min-width: $desktop-width) {
        margin: 0;
    }
}

.price-button {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 20.7px;
    font-weight: 700;
    margin: auto 10px auto 0px;
    @media screen and (min-width: $desktop-width) {
        margin: 0;
    }
}

.mounth{
    font-size: 14px;
    line-height: 18.9px;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.5);
}

.price-mounth{
    display: flex;
    flex-direction: row;
}

.pro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(46, 74, 223, 1);
    border: none;
    color: white;
    height: 52px;
    margin-bottom: 15px;
    padding: 1px 15px;
}
 
.enterprise {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(238, 238, 238, 0.9);
    border: none;
    color: rgba(29, 29, 29, 1);
    height: 52px;
    margin-bottom: 15px;
    padding: 1px 15px;
}

.mounth-black{
    font-size: 14px;
    line-height: 18.9px;
    font-weight: 400;
    color: rgba(29, 29, 29, 1);
}

.rectangle {
    background-image: url(../img/Rectangle4572.png);
    background-repeat: no-repeat;
    padding-top: 113px;
    padding-bottom: 112px;
    background-size: 100%;
    @media screen and (min-width: $desktop-width) {
        padding: 235px 70px 234px 71px;
    }
}

.questions {
    background-color: rgba(21, 21, 21, 1);
    padding: 105px 20px;
    @media screen and (min-width: $desktop-width) {
        padding: 80px 70px;
        display: flex;
        flex-direction: row;
        background-color: rgba(21, 21, 21, 0.8);
        backdrop-filter: blur(5px);
        border-radius: 5px; 
    }
}

.question-write {
    @media screen and (min-width: $desktop-width) {
        width: 56%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        img {
            height: 29px;
            width: 157px;
        }
    }
}

.question-send {
    @media screen and (min-width: $desktop-width) {
        width: 44%;
    }
}

.questions h2 {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #898989;
    margin: 15px 0 40px 0;
    @media screen and (min-width: $desktop-width) {
        font-weight: bold;
        font-size: 28px;
        line-height: 110%;
        margin: 0;
        width: 60%;
    }
}

.questions h2 span{
    color: white;
}

.question-text {
    color: #F6F6F6;
    font-weight: 300;
    font-size: 12.8px;
    line-height: 16px;
    opacity: 50%;
    margin: 0;
    @media screen and (min-width: $desktop-width) {
        width: 185px;
        height: 48px;
        font-family: Plain;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        margin: 10px 0 0 35px;
        color: #F7F7F7;
        }
}

.question-text-last {
    width: 180px;
    height: 48px;
    font-family: Plain;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 0 30px;
    color: #F7F7F7;
    opacity: 0.5;
}

.button-question {
    width: 190px;
    height: 45px;
    font-size: 14px;
    color: #1D1D1D;
    margin-top: 10px;
    margin-bottom: 15px;
    @media screen and (min-width: $desktop-width) {
        width: 270px;
    }
}

.input-question {
    background-color: rgba(245, 245, 245, 0.05);
    border: none;
    height: 55px;
    margin-bottom: 18px;
}

.send-application {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.politic {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #F7F7F7;
    opacity: 0.5;
    text-decoration: underline;
    @media screen and (min-width: $desktop-width) {
        opacity: 1;
    }
}

.reviews {
    border-top-style: solid;
    border-top-width: 1px;
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        background-image: url(../img/iphoneX.png);
        background-repeat: no-repeat;
        background-position: 0 176px;
    }
}

.reviews-small {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 25.7%;
        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 115%;
            margin-top: 35px;
        }
    }
}

.reviews-main-block {
    @media screen and (min-width: $desktop-width) {
        width: 74.3%;
    }
}

.reviews h2 {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 115%;
    text-transform: uppercase;
    color: #1D1D1D;
    margin: 20px 0 70px 0;
    @media screen and (min-width: $desktop-width) {
        font-weight: bold;
        font-size: 40px;
        line-height: 115%;
        margin: 30px 0 81px 0;
    }
}

.reviews-content {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        margin: 100px 105px 0 315px;
    }
}

.IF {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (min-width: $desktop-width) {
        justify-content: normal;
        margin-top: 100px;
    }
}

.IF img {
    height: 17px;
    margin-top: 27px;
    @media screen and (min-width: $desktop-width) {
        margin-left: 44px;
    }
}

.blue-circle {
    background-color: #2E4ADF;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.blue-circle p {
    color: white;
}

.if-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.if-text p:first-child {
    font-size: 12px;
    line-height: 135%;
    color: #1D1D1D;
    opacity: 0.7;
    
}

.text-name-sername {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.if-text p:last-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #1D1D1D;
}

.if-text p {
    margin: 2px;
}

.reviews-text {
    display: block;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    margin: 30px 0 27px 0;
    @media screen and (min-width: $desktop-width) {
        width: 490px;
        font-size: 16px;
        line-height: 135%;
        letter-spacing: -0.02em;
        margin-top: 40px;
    }
}

.thanks {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        margin-bottom: 126px;
    }
}

.thanks p {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    color: #1D1D1D;
    margin: 10px;
    @media screen and (min-width: $desktop-width) { 
        margin-right: 67px;
    }
}

.thanks img {
    height: 12px;
    margin-right: 5px;
}

.arrow-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-right{
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.phone-img {
    margin-top: 25px;
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

.team {
    border-top-style: solid;
    border-top-width: 1px;
}

.team-main-block {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.employees {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 25.7%;
        p {
            margin-top: 35px;
            font-weight: 600;
            font-size: 14px;
            line-height: 115%;
        }
    }
}

.team h2 {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 115%;
    text-transform: uppercase;
    color: #1D1D1D;
    margin: 20px 0 40px 0;
    @media screen and (min-width: $desktop-width) {
        margin-top: 30px;
        font-weight: bold;
        font-size: 40px;
        line-height: 115%;
        margin-bottom: 100px;
    }
}

.team > p {
    font-size: 14px;
    line-height: 135%;
    letter-spacing: -0.02em;
}

.team-header > p {
    @media screen and (min-width: $desktop-width) {
        width: 385px;
        font-size: 16px;
        line-height: 135%;
        letter-spacing: -0.02em;
        margin: 0 0 60px 315px;
    }
}

.team-employee p:first-child {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 110%;
    margin: 0 0 2px 0;
}

.team-employee p:last-child {
    font-size: 13px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin: 0;
    opacity: 0.5;
}

.blog {
    border-top-style: solid;
    border-top-width: 1px;
}

.blog-header-desktop {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.articles {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
        width: 25.7%;
        p {
            margin-top: 35px;
            font-weight: 600;
            font-size: 14px;
            line-height: 115%;
        }
    }
}

.header-blog {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 50px 0;
    @media screen and (min-width: $desktop-width) {
        width: 74.3%;

    }
}

.arrow-blog{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (min-width: $desktop-width) {
        margin-top: 35px;
    }
}

.arrow-blog p {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    color: #1D1D1D;
    margin: 10px;
}

.header-blog h2 {
    font-family: sans-serif;
    font-size: 22px;
    line-height: 115%;
    text-transform: uppercase;
    color: #1D1D1D;
    @media screen and (min-width: $desktop-width) {
        margin-top: 30px;
        font-weight: bold;
        font-size: 40px;
        line-height: 115%;
    }
}

.blog-flex {
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
    }
}

.blog-block-mobile {
    @media screen and (min-width: $desktop-width) {
        display: none; 
    }
}

.blog-block-desktop {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        > div {
            width: 22.85%;
        }
    }
}

.blog-block {
    margin: 20px 0 0 0;
    @media screen and (min-width: $desktop-width) { 
        img {width: 100%;}
    }
}

.blog-text-opacity {
    margin: 20px 0 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    color: #1D1D1D;
    opacity: 0.4;
}

.blog-text {
    font-size: 14px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    margin: 0;
}

.section0{
    padding: 0;
    @media screen and (min-width: $desktop-width) { 
        background-color: $color_1;
    }
}

.last-block {
    @media screen and (min-width: $desktop-width) { 
        display: none;
    }
}

.last-block-desktop {
    display: none;
    @media screen and (min-width: $desktop-width) { 
        display: block;
    }
}

.last-main-block {
    padding: 40px 70px 0 71px;
}

.header-last-desktop {
    display: flex;
    flex-direction: row;
}

.last-logo {
    display: flex;
    flex-direction: row;
    width: 51.51%;
    img {
        height: 25px;
    }
}

.last-showreel {
    margin-left: 184px;
    a {
        display: flex;
        flex-direction: row;
        color: $color_4;
        img {height: 12px;}
        margin-top: 5.5px;
    }
}

.last-menu-desktop {
    width: 48.49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color_4;
    ul {
        display: flex;
        flex-direction: row;
        li {
            margin-right: 35px;
        }
    }
    img {
        height: 12px;
    }
    a {
        color: $color_4;
    }
}

.last-context-dektop {
    display: flex;
    flex-direction: row;
    margin-top: 191px;
    padding-bottom: 130px;
}

.discuss {
    width: 51.51%;
}

.submit-your-application {
    width: 48.49%;
    > div {
        display: flex;
        flex-direction: row;
    }
}

.width490 {
    width: 490px;
    height: 55px;
    padding-left: 21px;
}

.text-white {
    color: white;
}

.black-background {
    background-color: #1D1D1D;
    padding: 0;
}

.margin-black {
    margin: 0 13px 0 14px;
}

.header-padding {
    padding: 20px 0 65px 0;
    border-bottom: none;
}

.black-background-h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 115%;
    text-transform: uppercase;
    color: #898989;
    margin: 15px 0 40px 0;
    @media screen and (min-width: $desktop-width) { 
        font-weight: bold;
        font-size: 40px;
        line-height: 115%;
        margin-top: 0;
        margin-bottom: 31px;
    }
}

.input-project {
    background-color: rgba(245, 245, 245, 0.05);
    border: none;
    width: 348px;
    height: 120px;
    margin-bottom: 18px;
    padding-bottom: 70px;
    @media screen and (min-width: $desktop-width) { 
        width: 490px;
        height: 154px;
        margin-bottom: 30px;
        padding-bottom: 100px;
    }
}

.input-project::placeholder {
    margin-top: 0px;
}

.width348 {
    width: 348px;
    box-sizing: border-box;
    padding-left: 20px;
    @media screen and (min-width: $desktop-width) {
        width: 385px;
    }
}

.download {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 42px 0 90px 0;
    @media screen and (min-width: $desktop-width) {
        margin: 32px 0 131px 0;
    }
}

.download img {
    height: 20px;
    margin-right: 5px;
}

.download p {
    color: white;
    text-decoration: underline;
}

.contacts {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(245, 245, 245, 0.1);
    color: #F5F5F5;
}

.piter {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.5;
    @media screen and (min-width: $desktop-width) {
        color: $color_4;
    }
}

.piter img {
    height: 20px;
}

.piter p {
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: -0.04em;
    margin: 45px 70px 30px 15px;
    @media screen and (min-width: $desktop-width) {
        width: 35%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.contact-text a {
    font-size: 16px;
    line-height: 100%;
    text-transform: lowercase;
    margin-top: 6px;
    margin-bottom: 0;
    text-decoration: none;
    color: white;
}

.contact-text {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop-width) {
        margin-top: 30px;
    }

}

.no-footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(245, 245, 245, 0.1);
}

.icon {
  margin: 35px 0 60px 0;  
  @media screen and (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
}
}

.icon img {
    height: 44px;
    margin-right: 15px;
}

.class {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(245, 245, 245, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (min-width: $desktop-width) {
        width: 51.51%;
        border-top: none;
    }
}

.class p {
    font-size: 12px;
    line-height: 15px;
    color: #F7F7F7;
    opacity: 0.5;
    @media screen and (min-width: $desktop-width) {
        padding-top: 15px;
    }
}

.footer-img {
    display: flex;
    flex-direction: row;
    .politic {
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: underline;
        color: #F7F7F7;
        opacity: 0.5;
        margin-right: 128px;
        margin-top: 15px;
    }
}

.creative-director {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    overflow: hidden;
    overflow-x: auto;
}

.photo-director {
    margin-right: 35px;
}

.photo-director img {
    margin-bottom: 20px;
}

.h3-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h3-arrow img {
    height: 9px;
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

.sub-menu-link:hover {
    color: #2E4ADF;
    font-weight: 600;
}

.scroll-box .first-scroll-box:nth-child(2) {
    background-color: #9E00FF;
}

.scroll-box .first-scroll-box:nth-child(3) {
    background-color: #01978C;
}
.scroll-box .first-scroll-box:nth-child(4) {
    background-color: #EDA335;
}

.menu-popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all 1s ease 0s;
}

.menu-popup.active {
    opacity: 1;
    visibility: visible;
}

.menu-popup.active .menu-popup-content {
    transform:perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
}

.menu-popup-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-popup-content {
    display: flex;
    flex-direction: column;
    background-color: $color_4;
    color: $color_1;
    width: 100vw;
    height: 100vh;
    transition: all 1s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.header-menu-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    padding: 20px 20px 20px 14px;
    @media screen and (min-width: $desktop-width) {
        height: 94px;
        padding: 30px 70px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: rgba(29, 29, 29, 0.3);
    }  
}

.header-menu-popup-img {
    img {height: 18px;}
    @media screen and (min-width: $desktop-width) {
        width: 32%;
        img {
            height: 25px;
        }   
    }
}

.plus-application {
    display: none;
    @media screen and (min-width: $desktop-width) { 
        display: flex;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        a {
            color: $color_1;
            text-decoration: underline;
            margin-left: 6px;
        }
    }
}

.close-a {
    margin-right: 0;
    margin-left: auto;
    img {
        height: 22.62px;
    }
    @media screen and (min-width: $desktop-width) { 
        img {
            height: 29.7px;
        }
    }
}

.menu-popup-ul {
    padding-left: 14px;
    margin: 100px auto auto 0px;
    flex: 1 1 auto;
    li {
        font-weight: bold;
        font-size: 22px;
        line-height: 115%;
        text-transform: uppercase;
        a{color: $color_1;}
        margin-bottom: 15px;
    }
    @media screen and (min-width: $desktop-width) {        
        width: 66.5%;
        margin: 110px 0 50px auto;
        li {
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 40px;
        }
    }
    
}

.plus-application-mobile {
    display: flex;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    a {
        color: $color_1;
        text-decoration: underline;
        margin-left: 6px;
    }
    @media screen and (min-width: $desktop-width) { 
        display: none;
    }
}

.footer-menu-popup {
    display: flex;
    flex-direction: column;
    padding: 0 0 103px 14px;
    position: relative;
    .icon-menu-popup {
        position: absolute; 
        margin-bottom: 32px;
        bottom: 0%;
        a {color: $color_1;}
        img {
            margin-right: 15px;
        }
    }
    .contacts-menu-popup {
        display: flex;
        flex-direction: column;
        a {
            font-size: 16px;
            line-height: 135%;
            letter-spacing: -0.02em;
            color: #1d1d1d;        
        }
    }
    @media screen and (min-width: $desktop-width) { 
        flex-direction: row;
        padding: 0 70px 0 70px;
        .icon-menu-popup {
            position: static;
            width: 32%;
            a {color: $color_1;}
            opacity: 0.4;
        }
        .contacts-menu-popup {
            opacity: 0.4;
        }
        .year-menu-popup {
            margin-right: 0;
            margin-left: auto;
            p {
                opacity: 0.4;
            }
        }
    }
    
}

.img-mobile {
    display: block;
    @media screen and (min-width: $desktop-width) {
        display: none;
    }
}

.img-desktop {
    display: none;
    @media screen and (min-width: $desktop-width) {
        display: block;
    }
}